body {
    background-color: #1b1b49;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Mengatur gambar agar berada di tengah dan berbentuk bulat */
img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 20px;
}

h1, h2, h3 {
    background-color: #384B70; /* Warna background */
    padding: 10px 20px; /* Jarak padding di dalam heading */
    border-radius: 15px; /* Membuat sudut membulat */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Shadow pada background */
    color: white;
    display: inline-block; /* Membuat ukuran elemen sesuai konten */
    margin: 20px 0; /* Jarak margin dengan elemen lainnya */
}


p {
    margin: 10px 0;
}


ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

a {
    color: #f4d35e;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}